* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1060px;
  margin: auto;
}

.title {
  font-size: calc(30px + 5 * (100vw / 1280));
  line-height: 36px;
  color: #445161;
}

.hi {
  height: 100%;
  background-color: #445162;
  padding: 15px 0;
}
.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.hi__body {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}
.hi__title {
  font-size: 60px;
  line-height: 1.2;
}
.hi__list {
  margin-top: 40px;
}
.hi__list li:before {
  content: url("../../image/hi/icon_list.png");
  padding: 0 15px 0 0;
}
.hi__list li {
  font-size: 20px;
  line-height: 36px;
}
.hi__image {
  max-height: 217px;
}

.what {
  padding: 35px;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what__img {
  max-width: 430px;
  max-height: 186px;
}

.what-flexbox {
  margin-left: 30px;
}
.what-flexbox__title {
  margin-bottom: 20px;
}
.what-flexbox__text {
  font-size: calc(16px + 4 * (100vw / 1280));
  line-height: 24px;
  color: #333333;
}
.what-flexbox__text--indent {
  margin-top: 15px;
}

.flex-columns {
  padding: 35px 0;
  background-color: #f5f5f5;
}
.flex-columns__title {
  text-align: center;
  margin-bottom: 40px;
}

.flex-container {
  width: 100%;
}
.flex-container__row {
  margin-right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.flex-container__body {
  margin-left: 15px;
}
.flex-container__image {
  margin-bottom: 25px;
  max-width: 100%;
  max-height: 100%;
}
.flex-container__title {
  font-size: calc(20px + 9 * (100vw / 1280));
  line-height: 30px;
  color: #445161;
}
.flex-container__text {
  font-size: calc(16px + 4 * (100vw / 1280));
  line-height: 24px;
  color: #333333;
}

.flex-vertical-align {
  padding: 40px 0;
}
.flex-vertical-align__title {
  text-align: center;
  margin-bottom: 30px;
}
.flex-vertical-align__body {
  max-width: 990px;
  margin: auto;
}
.flex-vertical-align__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}
.flex-vertical-align__columns {
  padding: 0 22.5px;
  max-width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-vertical-align__item {
  color: #fff;
  border-radius: 7px;
  border: 1px solid #445162;
  background-color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-vertical-align__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 10px;
}
.flex-vertical-align__suptitle {
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  background-color: #fff;
  padding: 10px;
}
.flex-vertical-align__text {
  padding: 15px;
  font-family: Arial;
  font-size: calc(14px + 5 * (100vw / 1280));
  line-height: 24px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.flex-vertical-align__text p {
  padding: 0;
  margin: 15px 0 0 0;
}
.flex-vertical-align__button {
  width: 260px;
  height: 40px;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  border-radius: 7px;
  margin: 19px;
}
@media (max-width: 900px) {
  .flex-vertical-align__columns {
    padding: 0 0.5px;
  }
}

.footer {
  background-color: #f5f5f5;
  height: calc(70px + (70 - 50) * ((100vw - 320px) / (1600 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  text-align: center;
  font-size: calc(12px + 14 * (100vw / 1280));
  color: #445162;
  letter-spacing: 0.025em;
}