%container {
    // $ Общий контейнер
    max-width: 1060px;
    margin: auto;
}
%title {
    // $ Для заголовков "Что такое FlexBox?" и "Колонки с flex-контейнерами"
    // fz: 30px;
    font-size: calc(30px + 5 * (100vw / 1280));
    line-height: 36px;
    color: #445161;
}
