// Обнуление
@import "zero";
// $ Миксины, шаблоны, перемменые
@import "additionally";
// $ Основные настройки
.wrapper {
    // $ Прижимает footer к низу
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    // $ Прижимает footer к низу
    flex: 1 1 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    // $ Общий контейнер
    @extend %container;
}
.title {
    @extend %title;
}
// ! Hi
.hi {
    // $ Блок hi
    height: 325px;
    background-color: #445162;
    padding-top: 10px;
    &__row {
        // $ Flex контейнер
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__body {
        // $ Основые настройки для title и list
        color: #fff;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }

    &__title {
        // $ title
        font-size: 60px;
        line-height: 1.2;
    }
    &__list {
        // $list
        margin-top: 40px;
        & li:before {
            content: url("../../image/hi/icon_list.png");
            font-size: 20px;
            line-height: 36px;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
            padding: 0 15px 0 0;
        }
    }
    &__image {
        max-height: 217px;
    }
}
// ! What
.what {
    // $ Оболочка
    padding: 35px;
    &__row {
        // $ Flex контейнер
        display: flex;
        justify-content: space-between;
    }
    &__img {
        max-width: 430px;
        max-height: 186px;
    }
}
.what-flexbox {
    // $ Оболочка Для текста
    margin-left: 30px;
    &__title {
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }

    &__text--indent {
        margin-top: 15px;
    }
}
// ! flex columns
.flex-columns {
    padding: 35px 0;
    max-height: 485px;
    background-color: #f5f5f5;
    &__title {
        text-align: center;
        margin-bottom: 40px;
    }
}
.flex-container {
    // $ Оболочка
    &__row {
        // $ Flex контейнер
        display: flex;
        justify-content: space-between;
    }

    &__body {
        // $ Оболочка для &__image, &__title, &__text
        margin-left: 15px;
    }

    &__image {
        margin-bottom: 25px;
    }

    &__title {
        font-size: 24px;
        line-height: 30px;
        color: #445161;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
}

// ! Footer
.footer {
    // $ Расположение footer текста
    background-color: #f5f5f5;
    height: 50px;
    display: flex;
    align-items: center;
    &__text {
        // $ Footer текст
        text-align: center;
        font-size: 12px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        color: #445162;
        line-height: 24px;
        letter-spacing: 0.025em;
    }
}
